<h1><%= gettext "Welcome to %{name}!", name: "TCG Explorer" %> <%= System.get_env("VERSION") %></h1>

<%= live_redirect "cardfight", to: Routes.browser_path(@socket, :game, :cardfight) %>
<br />
<%= live_redirect "flesh and blood", to: Routes.browser_path(@socket, :game, :fab) %>
